footer{
    width: 100%;
    background: #2f3640;
    margin-top: 30px;
}
footer .social_icons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
footer .social_icons a{
    color: ghostwhite;
    font-size: 30px;
    margin: 0 20px;
    background: var(--color);
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    transition: .2s ease-in-out;
}
footer .social_icons a:hover{
    transform: scale(1.1);
}
footer .social_icons a:nth-child(1):hover{
    background: #E1306C;
}
footer .social_icons a:nth-child(2):hover{
    background: #4267B2;
}
footer .social_icons a:nth-child(3):hover{
    background: #ff0000;
}
footer .social_icons a:nth-child(4):hover{
    background: #1DA1F2;
}
footer .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
footer .nav a{
    display: block;
    color: ghostwhite;
    font-size: 30px;
    margin: 0 25px;
    font-family: sans-serif;
    padding: 5px 10px;
    border-radius: 10px;
}
footer .nav .active{
    background: var(--color);
}
footer .nav a:hover{
    background: var(--color);
}
footer .nav2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
footer .nav2 a{
    display: block;
    color: ghostwhite;
    font-size: 20px;
    margin: 0 15px;
    font-family: sans-serif;
    padding: 5px 10px;
    border-radius: 3px;
    border-right: 3px solid var(--color);
}
footer .nav2 .active{
    background: var(--color);
}
footer .nav2 a:nth-child(4){
    border: none;
}
footer .nav2 a:hover{
    background: var(--color);
}
footer .rights{
    text-align: center;
    padding: 20px 0;
    background: var(--color);
    color: ghostwhite;
    font-size: 12px;
    font-family: monospace;
    letter-spacing: 3px;
    line-height: 30px;
}
footer .openings{
    text-align: center;
    font-size: 20px;
    color: ghostwhite;
    font-family: sans-serif;
    padding: 10px 0;
    line-height: 40px;
}
footer .openings h1{
    font-size: 40px;
    padding: 10px 0;
    font-family: monospace;
    letter-spacing: 5px;
}